# Virtual environment
.venv/
venv/

# Environment variables
.env

# Python cache
**pycache**/
*.pyc

# IDE
.vscode/
.idea/

# Upload / runtime files
uploads/

# OS files
.DS_Store
Thumbs.db

# Test
.pytest_cache/
.coverage
htmlcov/
